/* ----- GOOGLE FONTS ----- */

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat-italic";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}




/* ----- VARIABLES-----  */
:root {
    --primary-color: #a98b6f;
    --primary-color-variant-1: #75563a;
    --secondary-color: #513d2a;
    --white-smoke: #f7f5f2;
    --white: #ffffff;
    --white-variant-1: #eee;
    --black: #000000;
    --black-variant-1: #111111;
    --black-variant-2: #222222;
    --btn-black-opacity: rgba(0, 0, 0, .5);
    --btn-brown-opacity: rgba(169, 139, 111, .8);
    --primary-font-family: "Montserrat", sans-serif;
}




/* ----- CSS RESET -----  */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* ----- general styles -----  */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    min-width: 350px;
    background: var(--white-smoke);
    font-family: var(--primary-font-family);
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    width: 100%;
}



/*  general buttons styles */
.btn {
    outline: 2px solid var(--primary-color);
    padding: .6rem 3rem;
    font-size: 1.5rem;
    color: var(--white-variant-1);
    font-weight: 600;
    background: rgba(0, 0, 0, .5);
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
    transition: background .3s ease;
}

.btn:hover {
    background: var(--btn-brown-opacity);
}

.btn:active {
    transform: scale(.97);
}






/* general section title */
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 3rem;
}

.section-title h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
}

.section-title::after,
.section-title::before {
    background-color: var(--primary-color);
    border-radius: 2px;
    content: "";
    height: 5px;
    margin: 2rem;
    width: 50px;
}

.section-title img {
    width: 3.4rem;
}









.about, .contact, .products{
    width: 100%;
    height: 100vh;

    padding-top: 5rem;
}