

.booking-content-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid var(--primary-color);
    backdrop-filter: blur(20px);
    max-width: 1400px;
    margin: 3rem auto;
    padding: 1rem;
}

.booking-container {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/img/booking-BG.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    color: var(--white-smoke);
    padding: 1rem;
}

.booking h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: .3rem;
}

.booking-description {
    max-width: 600px;
    height: 100%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white-smoke);
    letter-spacing: .1rem;
}

.description-container {
    line-height: 1.6;
}

.description-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.opening-title {
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.description-p {
    margin-top: 1rem;
    color: var(--white-smoke);
}

.opening-hour-p {
    margin-bottom: 0;
}

.description-link {
    color: var(--primary-color);
    font-weight: 600;
}

.booking-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}



.input-left {
    display: grid;
    grid-template-columns: 1fr;
}


.custom-select {
    margin: 1rem;
    position: relative;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

.custom-select-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 18px;
    color: var(--secondary-color);
    background: #fff;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    outline: none;
    margin-top: .5rem;
}

.input-arrow-wrapper {
    position: relative;
}

.arrow-down {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--primary-color);
    pointer-events: none;
}

.custom-options {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    border: 2px solid var(--primary-color);
    border-top: none;
    background: var(--white-smoke);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.custom-option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.custom-option:hover,
.custom-option.selected {
    background: var(--primary-color);
    color: #fff;
}

.flex {
    display: flex;
}

.custom-textarea {
    resize: none;
    width: 100%;
}

.custom-select-input,
.custom-textarea,
.custom-textarea::placeholder,
.custom-select-input::placeholder {
    font-family: var(--primary-font-family);
    font-size: 16px;
    line-height: 18px;
}



.alert-container {
    height: 3.6rem;
}

.alert-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.red-color {
    color: #dc3545 ;
}

.green-color {
    color: green;
}

.invalid-input {
    border: 2px solid #dc3545 ;
}