.contact-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    color: var(--secondary-color);
}

.contact-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1f);
    grid-template-areas:
        'map'
        'form'
        'wrapper'
    ;
}



.map-container {
    grid-area: map;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

iframe {
    max-width: 1400px;
    width: 100%;
}

.contact-form-container {
    grid-area: form;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.contact-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0;
}

.message-input,
textarea {
    width: 100%;
    border: 2px solid var(--primary-color);
    outline: none;
    padding: 10px;
    font-family: var(--primary-font-family);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

textarea {
    resize: none;
}

.contact-btn {
    width: fit-content;
    background: var(--primary-color);
    color: var(--white-smoke);
    cursor: pointer;
}

.contact-btn i {
    margin-left: .5rem;
}

.contact-btn:hover {
    color: var(--white-smoke);
}



.bottom-wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.address-container,
.social-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.address-container p {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-section {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.social-section i {
    font-size: 2rem;
}

.social-section p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}


.alertBox {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

.invalid-input {
    border: 2px solid red;
}