.footer {
    height: auto;
    background: var(--black-variant-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--white-smoke);
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 2rem 2rem 1rem 2rem;
    gap: 2rem;

}

.footer-links a {
    color: var(--white-smoke);
    margin-bottom: .5rem;
}

.opening-hours-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}



.opening-hours strong {
    margin-right: .8rem;
}




.footer-links {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    font-size: 1.3rem;
}

.footer-links a {
    cursor: pointer;
}

.footer-links a:hover {
    color: var(--white-variant-2);
    text-decoration: underline;
}




.social-links {
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
}

.social-links i:hover {
    color: var(--white-variant-2);
    cursor: pointer;
    transform: scale(1.1);
}



.copyright {
    height: 2rem;
    background: var(--black-variant-1);
    display: flex;
    align-items: end;
    justify-content: center;
}

.copyright p {
    font-size: .8rem;
    font-weight: 500;
    color: var(--white-smoke);
}







.cookies {
    position: sticky;
    background: var(--white-variant-2);
    left: 0;
    bottom: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    opacity: .9;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    z-index: 4;
}

.cookie-active {
    display: flex;
}

.cookies-link {
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.cookies-btn {
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--black-variant-1);
    cursor: pointer;
    height: 3rem;

}