.gallery {
    padding: 5rem 0 6rem 0;
    max-width:1400px ;
    margin: auto;
}
.gallery-title {
    margin: 0 0 2rem 2rem;
    font-size: 2rem;
}

.gallery-content-container {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    'one two five six seven'
    'three four five eight nine '
    ;
    gap: 5px;
}
.grid1 {
    grid-area: one;
}
.grid2 {
    grid-area: two;
}
.grid3 {
    grid-area: three;
}
.grid4 {
    grid-area: four;
}
.grid5 {
    grid-area: five;
}
.grid6 {
    grid-area: six;
}
.grid7 {
    grid-area: seven;
}
.grid8 {
    grid-area: eight;
}
.grid9 {
    grid-area: nine;
}
.gallery-pic {
    width: 100%;
    height: 100%;
}
.gallery-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}