/* -----small devices ----- */
@media screen and (min-width: 576px) {
    .banner p {
        max-width: 600px;
        font-size: 1.4rem;
    }

    .welcome-card {
        width: 25rem;
    }

    .hero-right-title {
        font-size: 2.5rem;
    }

    .hero-right-text {
        font-size: 1.1rem;
    }

    .favorite-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .favorite-card {
        width: 24rem;
    }

    .favorite-card:nth-child(2) {
        width: 24rem;
        min-height: 35rem;
    }

}




/* -----medium devices ----- */
@media screen and (min-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .banner h1 {
        font-size: 2.6rem;
    }

    .banner h1 span {
        font-size: 5.6rem;
    }

    .banner p {
        max-width: 900px;
        font-size: 1.6rem;
    }

    .hero-main-title {
        font-size: 5rem;
    }


    .validation-text {
        height: 1.2rem;
    }

    /* booking */
    .input-left {
        grid-template-columns: 1fr 1fr;
    }

    /* testimonals */
    .mySlides {
        padding: 0 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .customerPic {
        width: 120px;
        border-radius: 50%;
    }

    /* events */
    .event-content h2 {
        font-size: 3.2rem;
    }

    .events-container h3 {
        font-size: 2rem;
    }

    .events-text {
        font-size: 1.3rem;
    }

    .events-list li {
        font-size: 1.2rem;
    }

    /* gallery section */

    .gallery-content-container {
        display: grid;
        grid-template-rows: 30vh 30vh;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
            'one two five six seven'
            'three four five eight nine'
        ;
        gap: 5px;
    }

    /* footer  */
    .footer {
        padding-top: 3rem;
    }

    .footer-container {
        justify-content: center;
        gap: 0;
        padding: 2rem;
    }

    .footer-links {
        align-items: center;
    }

    .opening-hours {
        margin: 0;
    }

    .footer-links a {
        margin-bottom: 0;
        font-size: 1.1rem;
    }

    .social-links {
        align-items: center;
        gap: 2rem;
    }

    .pageUpBtn {
        display: block;
    }

    /* contact */
    .bottom-wrapper {
        flex-direction: row;
    }
}



/* -----large devices ----- */
@media screen and (min-width: 992px) {

    /* global header  */
    .global-header {
        height: 2.2rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    .global-header-wrapper {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: auto;
    }

    .global-header i {
        margin-right: .5rem;
    }

    .global-header-right {
        display: flex;
        gap: 4rem;
    }

    .link-address {
        color: var(--primary-color-variant-1);
        font-weight: 500;
    }

    .link-phone {
        color: var(--primary-color-variant-1);
        font-weight: 500;
    }

    .link-booking {
        background: var(--primary-color);
        padding: .3rem 1rem;
        color: var(--white-smoke);
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
    }

    .link-booking:hover {
        background: var(--secondary-color);
    }






    /* header */
    .header {
        border-top: 1px solid #a98b6f;
    }

    .hamburger-btn {
        display: none;
    }

    .nav {
        position: static;
        flex-direction: row;
        background: none;
        border: none;
        height: 100%;
    }

    .logo img {
        height: 82%;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: inherit;
        align-items: center;
    }

    .nav-list li {
        height: 100%;
    }

    .nav-item,
    .sublist-items {
        padding: 1rem .4rem;
        font-size: .95rem;
    }

    .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .products-sublist {
        display: none;
        flex-direction: column;
        background: var(--primary-color);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .sublist-items {
        color: var(--white-smoke);
        display: flex;
        justify-content: start;
        border-top: 1px solid var(--secondary-color);
    }

    .sublist-items:hover {
        background: var(--white-variant-1);
        color: var(--secondary-color);
    }

    .sublist-items:hover .nav-item {
        background: var(--primary-color);
    }

    .dropdown:hover .products-sublist {
        display: flex;
    }

    .nav-item:hover {
        background-color: var(--primary-color);
        color: var(--white-smoke);
        cursor: pointer;
    }

    .dropdown-btn {
        gap: .5rem;
    }

    .dropdown:hover .dropdown-arrow-icon {
        transform: rotate(180deg);
    }




    /* search form */
    .search {
        padding: .3rem 1rem;
        margin: 0;
    }

    .search-input {
        padding-left: 0;
    }


    /* hero section */
    .hero-main-title {
        font-size: 7rem;
        text-shadow: 2px 5px 2px var(--secondary-color);
        padding-bottom: 5rem;
    }

    .hero-container {
        flex-direction: row;
    }

    .hero-left {
        width: 50%;
        justify-content: flex-end;
    }

    .hero-right {
        width: 50%;

    }

    .hero-right-title {
        font-size: 2.5rem;
    }

    .hero-right-text {
        font-size: 1.1rem;
    }

    .hero-right-content {
        padding: 0 2rem 0 5rem;
        margin: 0;
    }

    .img-container {
        position: absolute;
        bottom: -3rem;
        right: -2rem;
        margin-left: 5rem;
    }





    /* about page */
    .about-container {
        max-width: 1400px;
        margin: 3rem auto;
        display: grid;

        grid-template-areas:
            "top  top"
            "img1  img2 "
            "bottom bottom";
        gap: 2rem;
        padding-top: 1rem;
    }

    .top-content,
    .bottom-content {
        padding: 0;
    }

    .top-content-text,
    .bottom-content-text {
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }


    /* testimonial */
    .testimonial-right {
        margin: -6rem auto 0;
    }

    .testimonial-left h2 {
        font-size: 3.4rem;
        width: 800px;
    }

    /* subscription */
    .subscribe {
        padding: 1rem 0;
    }

    .subscribe-form {
        width: 100%;
    }

    .input-section {
        flex-direction: row;
    }

    .button-section {
        flex-direction: row;
        gap: 3rem;
    }

    /* booking */
    .booking-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* contact */
    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'map form'
            'wrapper wrapper'
        ;
    }
}


/* -----X-large devices ----- */
@media screen and (min-width: 1200px) {

    .logo img {
        height: 100%;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
    }

    .nav-item,
    .sublist-items {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .favorite-cards {
        gap: 0;
    }

    .favorite-card img {
        max-width: 100%;
    }


    .favorite-card:nth-child(2) {
        width: 26rem;
        min-height: 40rem;
    }

    .favorite-card:nth-child(2) img {
        height: 26rem;
    }

    /* testimonials */

    .testimonial-container {
        flex-direction: row;
        align-items: center;
        margin: 10rem 0;
    }

    .testimonial-left {
        width: 50%;
        height: 300px;
        align-items: center;
    }

    .testimonial-left h2 {
        font-size: 3.4rem;
        width: 330px;
    }

    .left-wrapper {
        width: 700px;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .testimonial-right {
        width: 50%;
        max-width: 800px;
        margin: 2rem 0 2rem -10rem;

    }

}


/* -----XX-larg devices ----- */
@media screen and (min-width: 1400px) {
    .global-header-wrapper {
        padding: 0;
    }
}