
.welcome-page {
    padding: 6rem 2rem;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
}
.welcome-page.historyPage {
    padding: 2rem 2rem 6rem 2rem;
}
.welcome-page p {
    margin-bottom: 1rem;
}

.welcome-page h2, h3 {
    margin: 1rem 0;
}

