.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: -10rem;
    padding-top: 6rem;
}

.welcome-card {
    width: 100%;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.icon {
    font-size: 3rem;
}


.welcome-card h3 {
    font-size: 1.6rem;
 
    margin-bottom: 1rem;
}

.history {
    /* background: var(--primary-color); */
    background: #7f7064;
    color: var(--black-variant-2);
   
}

.history:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url("../assets/img/welcome-card-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-smoke);
}

.brewing {
    color: var(--secondary-color);
    background: var(--white-variant-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.brewing:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url("../assets/img/welcome-card-2.jpg");
    color: var(--white-smoke);
}

.health {
    color: var(--black-variant-2);
    background: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.health:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .7)), url("../assets/img/welcome-card-3.jpg");
    color: var(--white-smoke);

}

.btn-welcome {
    padding: .5rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}